    <div class="container-fluid" style="background-color:#009688!important;">
  <div class="row" style="height:300px!important; padding:10px 0 20px 0;">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Контакты</h5>
          <p class="card-text">Телефон: +998(91) 923 77 88</p>
          <p class="card-text">WhatsApp: +998(91) 923 77 88</p>
          <p class="card-text">Telegram: +998(91) 923 77 88</p>
          <a href="https://instagram.com/dr.avaz_naimov?igshid=YmMyMTA2M2Y=" class="btn btn-danger">перейти в инстаграм</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <ul class="mt-2 ml-2 islist">
            <li class="list-group-item0"><a class="nav-link" href="/kitob">Читать Книгу</a></li>
            <li class="list-group-item0"><a class="nav-link" href="/login">Войти в Кабинет</a></li>
            <li class="list-group-item0">
            <a class="nav-link" href="/privacy">Политика Сайта</a></li></li>
           <li class="list-group-item0">
            <a href="#" class="fi">
              <img src="/public/visa.png" class="foot-img">
            </a></li>
            <a href="#" class="fi">
              <img src="/public/uzcard.png" class="foot-img-uz">
            </a>
            <a href="#" class="fi">
              <img src="/public/humo.png" class="foot-img-uz">
            </a>
            </li>
           
        </ul>
    </div>
    
  </div>
</div>
 

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="js/materialize.min.js"></script>


 <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="public/materialize.js"></script>
  <script src="public/init.js"></script>

  
