<div id="index-banner" class="parallax-container" style="background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.20), rgba(117, 19, 93, 0.50), rgba(117, 19, 93, 0.80)),
    url('public/foto.jpg');  background-repeat: no-repeat;
  background-size: cover;">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="text-center text" style="margin-top:170px">Народная Медицина Узбекистана</h1>
       
        <div class="col text-center mt-3">
          <a href="/kitob" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 text-center">открыть книгу</a>
        </div>
        <br><br>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <!-- <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">о происхождении вашей болезни</h5>

            <p class="light">Abbos jo`ra bu yerga kitobingdagi qanaqa kassalliklarni borligini yozasan tex text text text text text text text text text text text text text text text text text text text text Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos Abbos </p>
          </div>
        </div> -->

        <div class="col s12 mt-3 mb-3">
          <div class="icon-block">
            <!-- <h2 class="center brown-text"><i class="material-icons">group</i></h2> -->
            <h2 class="center">О книге "Большая медицинская энциклопедия диагностики. 4000 симптомов и синдромов"</h2>

            <p class="light text-center mt-3" style="font-size:20px;">Большая компьютерная энциклопедия является удобным и грамотным справочником по использованию современных компьютерных программ и языков. В книгу включено более 2600 английских и русских терминов и понятий. Справочник операционных систем и программирования познакомит вас с пятью самыми популярными компьютерными языками и тринадцатью операционными системами. Справочник по «горячим клавишам» содержит все самые последние обновленные данные для семи популярных программ, а справочник компьютерного сленга состоит почти из 700 терминов, которые помогут вам ориентироваться в компьютерном мире. Эта книга станет для вас незаменимым помощником и поможет получить новые знания.</p>
<p class="light text-center" style="font-size:20px;">
              На нашем сайте вы можете скачать книгу "Большая медицинская энциклопедия диагностики. 4000 симптомов и синдромов" Луковкина Аурика бесплатно и без регистрации в формате fb2, rtf, epub, pdf, txt, читать книгу онлайн или купить книгу в интернет-магазине..</p>
          </div>
        </div>

        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">исправление</h5>

            <p class="light">bu yerda kitobni qanchalik qadimiy ekanligi va uni samarasi haqqida yozasan.</p>
          </div>
        </div>
      </div> -->

    </div>
  </div>


  

   


  <div class="parallax-container" style="background-image:url('/public/background3.jpg')">
      <div class="section no-pad-bot">
          <div class="container">
              <h2 class="center text-dark">Как с нами связаться</h2>
              <div class="row justify-content-center">
                  <div class="col-md-6 mt-3">
                      <form>
                          <input type="text" class="new-in mt-2" placeholder="Ф.И.О">
                          <input type="text" class="new-in mt-2" placeholder="адрес почты">
                          <input type="text" class="new-in mt-2" placeholder="номер телефона">
                          <textarea class="new-in mt-2 area-text">

                          </textarea>
                          <div class="col text-center mt-4">
                              <button class="btn btn-success">Отправить</button>
                          </div>
                     </form>
                  </div>
              </div>
            </div>
   


  

 
</div></div>
  



