<section class="container mt-5">
  <div class="row ">
    <div class="col-md-2 scroller book-lg">
       {{#each bookdata}}
        <div class="image-out" value="{{@key}}">
          <img src="/public/book/{{this}}" value="{{this}}" class="getnew">
        </div>
        <p style="text-align: center;">
        {{@key}}
        </p>
         {{/each}}
    </div>
    <div class="col-md-10 not-scroller book-lg">
      <img class="b1" src="/public/book/book-001.webp">
    </div>
  </div>

<div class="row ">
    <div class="col-md-12 book-xs">
    <ul class="list-group">
    <li class="list-group-item"><a class="img-data-new" id="011">Ведение 16</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="013">Об определении медицины</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="016">О задачах медицины</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="021">Об Элементах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="024">О натуре</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="037">О натуре органов</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="040">О натурах разных возрастов и полов</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="048">О СОКАХ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="048">О сущности соков и об их частях</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="063">О том, как зарождаются соки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="069">О ЕСТЕСТВЕ ОРГАНА И ЕГО ЧАСТЕЙ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="085">О ПРОЯВЛЕНИЯХ И ПРИЗНАКАХ БОЛЕЗНЕЙ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="085">Общее рассуждение о проявлениях и признаках</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="095">О признаках, отличающих частные заболевания от заболеваний по соучастию</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="097">О признаках расстройства натуры</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="110">О сумме признаков уравновешенной натуры</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="111">О признаках чрезмерной неуравновешенности</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="112">О признаках, указывающих на переполнение</a><div class="trs"></div></li>





    <li class="list-group-item"><a class="img-data-new" id="113">О признаках преобладания того или иного сока</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="115">О признаках, указывающих на закупорку</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="116">О признаках, указывающих на ветры</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="117">О признаках, указывающих на опухоли</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="120">О признаках нарушения непрерывности</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="122">О РЕЖИМЕ ПОДВИНУТЫХ В ГОДАХ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="122">Общее рассуждение о режиме подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="123">О питании подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="126">О вине для подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="126">Об устранении закупорок у подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="127">О массаже для подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="128">О физических упражнениях для подвинутых в годах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="130">О РЕЖИМЕ ТЕЛА ЧЕЛОВЕКА, НАТУРА КОТОРОГО НЕСОВЕРШЕННА</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="130">Об исправлении натуры с преобладанием теплоты</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="133">Об исправлении натуры с преобладающей холодностью</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="133">О режиме тел, склонных к заболеваниям</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="135">О том, как сделать тощего полным</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="135">О том, как полному похудеть</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="136">О режиме в разные времена года и об оздоровлении воздуха</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="139">О том, как поступить в случае появления признаков, предуведомляющих о появлении болезней</a><div class="trs"></div></li>




    <li class="list-group-item"><a class="img-data-new" id="142">О СПОСОБАХ ЛЕЧЕНИЯ ВООБЩЕ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="142">Общее рассуждение о лечении</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="155">О лечении болезней дурной натуры</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="159">О том, как и когда производить опорожнение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="168">О правилах, общих для вызывания рвоты и послабления, и указаний на то, как происходит притягивание соков слабительными и рвотными лекарствами.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="175">Слово о послаблении и о его правила</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="184">О чрезмерном действии слабительного и о времени прекращения послабления</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="185">О восстановлении состояния здоровья человека, которому повредило чрезмерное послабление</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="187">О том, как поступать с человеком, который принял слабительное средство, но оно не подействовало</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="187">О свойствах слабительных лекарств</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="190">О рвоте</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="195">О том, что должен делать тот, кого вырвало</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="196">О полезности рвоты</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="197">О вредности чрезмерной рвоты</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="197">Об устранении некоторых явлений, случающихся у тех, кого рвет.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="198">О пользовании тех, кого чрезмерно рвет</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="199">О клизмах</a><div class="trs"></div></li>



    <li class="list-group-item"><a class="img-data-new" id="200">О мазях</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="200">О примочках</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="201">О кровопускании</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="204">Лучше всего и наиболее обязательно, чтобы беременным совсем не пускали кровь, так как плод от этого погибает.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="229">О кровопускании с помощью банок</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="234">О пиявках.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="236">О прекращении опорожнений</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="238">О лечении закупорок</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="240">О лечении опухолей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="245">Краткое рассуждение о вскрывании нарывов</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="246">Об успокоении боли</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="251">Наставление о том, с чего нам начинать лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="253">ОБЩИЕ СВЕДЕНИЯ О СОСТОЯНИЯХ ПЕЧЕНИ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="260">Приемы, помогающие судить о состоянии печени. </a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="264">Признаки разновидностей естественной натуры печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="266">>Заболевания печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="271">Общее-рассуждение о лечении печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="272">Вещи, вредные для печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="274">То, что подходит для печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="276">Лечение горячего расстройства натуры печени.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="287">Малые размеры печени</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="289">СЛАБОСТЬ ПЕЧЕНИ, ЗАКУПОРКИ В НЕЙ И ВСЕ, ЧТО СВЯЗАНО С БОЛЯМИ В ПЕЧЕНИ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="289">Слабость печени</a><div class="trs"></div></li>  
    <li class="list-group-item"><a class="img-data-new" id="295">Лечение слабости печени.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="301">Закупорка в печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="311">О вздутии и ветрах в печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="312">Лечение вздутия и ветров в печени.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="313">Боль в печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="316">Общее рассуждение об опухолях в печени и прилежащих к ней областях.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="318">Общие признак и опухоли печен и вследствие соучастия.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="321">Различия между опухолью в печени и опухолью лежащих над печенью мышц в брюшных стенках</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="322">Горячая опухоль</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="324">Рожистая опухоль печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="324">Флегмонная опухоль</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="325">Холодные опухоли печени</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="325">Слизистая опухоль</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="325">Твердая и раковая опухоль</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="327">Гнойник</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="328">Опухоль в сосудах брыжейки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="329">Лечение горячей кровяной опухоли</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="339">Лечение рожистой опухоли.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="339">Лечение гнойника.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="344">Лечение холодных опухолей.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="346">Лечение твердой опухоли, в печени.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="351">Лечение опухолей в брюшных стенках и в мышцах.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="351">АНАТОМИЯ ЖЕЛЧНОГО ПУЗЫРЯ И СЕЛЕЗЕНКИ.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="351">ЖЕЛТУХА Анатомия желчного пузыря</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="354">Анатомия селезенки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="356">Желтая и черная желтуха</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="363">Признаки желтой желтухи</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="367">Признаки причин черной желтухи</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="369">Лечение желтой желтухи</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="383">Лечение черной желтухи и сочетания обеих желтух</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="386">О ПРОЧИХ СОСТОЯНИЯХ СЕЛЕЗЕНКИ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="386">Общее рассуждение о заболеваниях селезенки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="387">Признаки натуры селезенки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="388">Горячие, холодные и твердые опухоли селезенки и затвердение ее, не зависящее от опухолей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="393">Лечение горячих опухолей селезенки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="395">Лечение затвердение в селезенке</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="408">Лечение слизистой опухоли селезенки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="408">Закупорки в селезенке</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="409">Ветры и вздутие в селезенке</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="411">Боли в селезенке</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="412">ЧЕРВИ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="412">Черви вообще</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="422">Горячие лекарства, убивающие червей, особенно длинных</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="424">Особые лекарства против «тыквенных семечек»</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="425">Лекарства холодные и слегка горячие</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="426">Лечебные меры против мелких червей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="427">Клизмы для страдающих от червей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="428">Лекарственные повязки для страдающих от червей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="428">Питание таких больных</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="429">Лечение последствий падения и удара по животу</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="430">КАЧЕСТВО ВОЛОС И ПЕРХОТЬ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="430">Природа волос</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="430">Причина исчезновения волос</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="433">Лекарства, сохраняющие волосы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="435">Лекарства, сохраняющие волосы бровей</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="437">Лекарства, удлиняющие волосы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="438">Сильные средства для ращения волос, которые излечивают от облысения, выпадения бровей и тому подобного, когда это можно вылечить</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="442">Алопеция</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="443">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="449">Лекарства, удаляющие волосы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="450">Лечение обожженного нурой</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="450">Средства, отбивающие запах нуры</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="451">Средства, делающие волосы курчавыми</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="451">Ломкость волос</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="452">Средства, утончающие волосы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="452">Чернота и седина волос</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="452">Лекарства, замедляющие поседение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="454">Грязевые лепешки, предотвращающие  седину</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="457">Белящие средства</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="457">Предупреждение явлений, следующих за окрашиванием</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="458">Перхоть</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="459">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="459">Мягкие, без сильного жжения лекарства от перхоти</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="460">Более сильные лекарства от перхоти</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="462">СОСТОЯНИЕ КОЖИ В ОТНОШЕНИИ ОКРАСКИ</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="462">Причины, изменяющие цвет кожи</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="462">Причины перехода цвета лица в  желтый</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="462">Вещества, которые улучшают цвет лица, придавая ему блеск, румянец и легкий глянец</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="467">Оберегание кожи от солнца, ветра и холода</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="467">Следы от удара и черные пятна</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="468">Следы язв и оспы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="469">Мертвая кровь, барш, намш и веснушки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="475">Татуировка и ее удаление</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="475">Бадшинам и чрезмерная краснота</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="476">Витилиго, псориаз</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="476">Бахак, вадах и барас, белый и черный</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="478">Признаки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="479">Лечение склеродермии</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="481">Лечение витилиго</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="491">Лечение псориаза</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="492">ПРОКАЗА</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="492">Сущность проказы и ее причины</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="495">Признаки</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="496">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="512">Экзема, кожный лейшманиоз и бутм</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="512">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="514">Местные лекарства при влажной  экземы</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="516">Местные лекарства при сухой экземе.</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="517">Лишай</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="518">Лечение лишая</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="519">Местные лечебные средства</a><div class="trs"></div></li>

    <li class="list-group-item"><a class="img-data-new" id="522">Молочные прыщи</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="522">Парша и чесотка</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="524">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="531">Потница</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="532">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="533">Бородавки — гвоздевидные, вывернутые, роговидные и подобные им</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="534">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="537">Трещины, появляющиеся на коже, на губах, на конечностях и вообще на любом месте тела</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="537">Лечение всяких трещин вообще</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="538">Лечение трещин на губах</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="539">Трещины на ноге</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="539">Лечение</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="541">Трещины на руках</a><div class="trs"></div></li>
    <li class="list-group-item"><a class="img-data-new" id="541">Трещины между пальцами</a><div class="trs"></div>
    <li class="list-group-item"><a class="img-data-new" id="542">Меры весов и объёмов</a><div class="trs"></div></li>
    </ul>
</div>
</div>

</section>
<script>
$(document).on({
    "contextmenu": function (e) {
        console.log("ctx menu button:", e.which); 

        // Stop the context menu
        e.preventDefault();
    },
    "mousedown": function(e) { 
        console.log("normal mouse down:", e.which); 
    },
    "mouseup": function(e) { 
        console.log("normal mouse up:", e.which); 
    }
});
document.onkeydown = function (e) {
 
        // disable F12 key
        if(e.keyCode == 123) {
            return false;
        }
 
        // disable I key
        if(e.ctrlKey && e.shiftKey && e.keyCode == 73){
            return false;
        }
 
        // disable J key
        if(e.ctrlKey && e.shiftKey && e.keyCode == 74) {
            return false;
        }
 
        // disable U key
        if(e.ctrlKey && e.keyCode == 85) {
            return false;
        }
    }
</script>
