    {{#if loginError}}
      <p>{{loginError}}</p>
    {{/if}}
 <main>
  <form action="/login" method="post">
    <center>

     <div class="container">
      
        <div  class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 70px; solid #EEE;">
        <div class="section"></div>
       
<div class="section"></div>
            
      <div class="section"><i class="mdi-alert-error red-text"></i></div>
      
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type="text" name='email' id='email' required />
                <label for='email'>Email</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col m12'>
                <input class='validate' type='password' name='password' id="passwod" required /> 
                <label for='password'>Password</label>
              </div>
              <label style='float: right;'>
              <a><b style="color: #F5F5F5;">Forgot Password?</b></a>
              </label>
            </div>
            <a style="color: #00b8d4;" href="/registratsiya">Еще не зарегистрированы?</a>
            <br>    
            <br/>
            <center>
              <div class='col text-center'>
                <button style="margin-left:65px;"  type='submit'  class='col  s6 btn btn-small lighten-2 white-text  waves-effect z-depth-1 y-depth-1'>Вход</button>
                <br>
                <br>
                <br>
              </div>
            </center>
     
            </div>
          </div>
        </center>
       </form> 
      </main>

