<h2 class="center-align">Оглавление</h2>
<div class="slideshow-container page">
<div class="mySlides fade">
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Ведение........................1</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Об определении медицины........2</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О задачах медицины.............</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Об Элементах...................</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О натуре.......................</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О натуре органов...............</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О натурах разных возрастов и полов....</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О СОКАХ.......................</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О сущности соков и об их частях........2</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О том, как зарождаются соки.....</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О ЕСТЕСТВЕ ОРГАНА И ЕГО ЧАСТЕЙ.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О ПРОЯВЛЕНИЯХ И ПРИЗНАКАХ БОЛЕЗНЕЙ.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о проявлениях и признаках.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О признаках, отличающих частные заболевания от заболеваний по соучастию.....</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о проявлениях и признаках........</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О признаках, отличающих частные заболевания от заболеваний по соучастию........</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О том, как зарождаются соки.....</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О ЕСТЕСТВЕ ОРГАНА И ЕГО ЧАСТЕЙ.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О ПРОЯВЛЕНИЯХ И ПРИЗНАКАХ БОЛЕЗНЕЙ.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о проявлениях и признаках.......</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О признаках, отличающих частные заболевания от заболеваний по соучастию.....</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о проявлениях и признаках........</a></h5></span></p>
  <p><span><h5 style="text-align: start;"><a class="brown-text text-lighten-0" href="#">О признаках, отличающих частные заболевания от заболеваний по соучастию.......1</a></h5></span></p>
  <h3>1</h3>
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О признаках, указывающих на ветры.......4</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О признаках, указывающих на опухоли....5</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О признаках нарушения непрерывности....45</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О РЕЖИМЕ ПОДВИНУТЫХ В ГОДАХ............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о режиме подвинутых в годах......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О питании подвинутых в годах..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О вине для подвинутых в годах	........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об устранении закупорок у подвинутых в годах.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О массаже для подвинутых в годах..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О физических упражнениях для подвинутых в годах....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О РЕЖИМЕ ТЕЛА ЧЕЛОВЕКА, НАТУРА            КОТОРОГО НЕСОВЕРШЕННА.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об исправлении натуры с преобладанием теплоты......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об исправлении натуры с преобладающей холодностью.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О режиме тел, склонных к заболеваниям..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, как сделать тощего полным..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, как полному похудеть...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О режиме в разные времена года и об оздоровлении воздуха........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, как поступить в случае появления признаков, предуведомляющих о появлении болезней.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О СПОСОБАХ ЛЕЧЕНИЯ ВООБЩЕ..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о лечении.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О лечении болезней дурной натуры.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, как и когда производить опорожнение.......2</a></h5></span></p>
  <h3>2</h3>    
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О правилах, общих для вызывания рвоты и послабления, и указаний на то, как происходит притягивание соков слабительными и рвотными лекарствами....3</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Слово о послаблении и о его правилах...........2</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О чрезмерном действии слабительного и о времени прекращения послабления...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О восстановлении состояния здоровья человека, которому повредило чрезмерное послабление..............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, как поступать с человеком, который принял слабительное средство, но оно не подействовало...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О свойствах слабительных лекарств..............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О рвоте........................</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О том, что должен делать тот, кого вырвало...............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О полезности рвоты............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О вредности чрезмерной рвоты........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об устранении некоторых явлений, случающихся у тех, кого рвет..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об устранении некоторых явлений, случающихся у тех, кого рвет.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О клизмах...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О мазях............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О примочках.............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О кровопускании..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лучше всего и наиболее обязательно, чтобы беременным совсем не пускали кровь, так как плод от этого погибает.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О кровопускании с помощью банок..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О пиявках..............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О прекращении опорожнений............3</a></h5></span></p>
  <h3>3</h3>
</div>



<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О лечении закупорок...................4</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О лечении опухолей...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Краткое рассуждение о вскрывании нарывов............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Об успокоении боли..................</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Наставление о том, с чего нам начинать лечение....................</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ОБЩИЕ СВЕДЕНИЯ О СОСТОЯНИЯХ ПЕЧЕНИ.............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Приемы, помогающие судить о состоянии печени......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки разновидностей естественной натуры печени.................</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Заболевания печени...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общее-рассуждение о лечении печени........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Вещи, вредные для печени..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">То, что подходит для печени.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение горячего расстройства натуры печени.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Малые размеры печени.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">СЛАБОСТЬ ПЕЧЕНИ, ЗАКУПОРКИ В НЕЙ И ВСЕ, ЧТО СВЯЗАНО С БОЛЯМИ В ПЕЧЕНИ.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Слабость печени................</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение слабости печени............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Закупорка в печени...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О вздутии и ветрах в печени..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение вздутия и ветров в печени..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Боль в печени.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение об опухолях в печени и прилежащих к ней областях......4</a></h5></span></p>
  <h3>4</h3>
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общие признак и опухоли печен и вследствие соучастия.............5</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Различия между опухолью в печени и опухолью лежащих над печенью мышц в брюшных стенках.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Горячая опухоль...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Рожистая опухоль печени............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Флегмонная опухоль...............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Холодные опухоли печени............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Слизистая опухоль..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Твердая и раковая опухоль..............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Гнойник..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Опухоль в сосудах брыжейки........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение горячей кровяной опухоли........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение рожистой опухоли..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение гнойника.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение холодных опухолей.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение твердой опухоли, в печени......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение опухолей в брюшных стенках и в мышцах...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">АНАТОМИЯ ЖЕЛЧНОГО ПУЗЫРЯ И СЕЛЕЗЕНКИ..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ЖЕЛТУХА Анатомия желчного пузыря...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Анатомия селезенки..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Желтая и черная желтуха..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки желтой желтухи........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки причин черной желтухи........5</a></h5></span></p>
  <h3>5</h3>
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение желтой желтухи.............6</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение черной желтухи и сочетания обеих желтух.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">О ПРОЧИХ СОСТОЯНИЯХ СЕЛЕЗЕНКИ..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Общее рассуждение о заболеваниях селезенки...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки натуры селезенки.............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Горячие, холодные и твердые опухоли селезенки и затвердение ее, не зависящее от опухолей..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение горячих опухолей селезенки..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение затвердение в селезенке............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение слизистой опухоли селезенки.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Закупорки в селезенке.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Ветры и вздутие в селезенке........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Боли в селезенке........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ЛЧЕРВИ..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Черви вообще.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Горячие лекарства, убивающие червей, особенно длинных......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Особые лекарства против «тыквенных семечек»	...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства холодные и слегка горячие.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечебные меры против мелких червей...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Клизмы для страдающих от червей.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарственные повязки для страдающих от червей..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Питание таких больных........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение последствий падения и удара по животу.......6</a></h5></span></p>
  <h3>6</h3>
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">КАЧЕСТВО ВОЛОС И ПЕРХОТЬ..........7</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Природа волос..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Причина исчезновения волос.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства, сохраняющие волосы........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства, сохраняющие волосы бровей............</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства, удлиняющие волосы.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Сильные средства для ращения волос, которые излечивают от облысения, выпадения бровей и тому подобного, когда это можно вылечить........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Алопеция...........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства, удаляющие волосы........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение обожженного нурой........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Средства, отбивающие запах нуры.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ЛСредства, делающие волосы курчавыми......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Ломкость волос........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Средства, утончающие волосы.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Чернота и седина волос..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лекарства, замедляющие поседение........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Грязевые лепешки, предотвращающие  седину..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Белящие средства.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Предупреждение явлений, следующих за окрашиванием.........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Перхоть........7</a></h5></span></p>
  <h3>7</h3>
</div>
    
<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение..........8</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Мягкие, без сильного жжения лекарства от перхоти........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Более сильные лекарства от перхоти.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Более сильные лекарства от перхоти......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Причины, изменяющие цвет кожи..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Причины перехода цвета лица в  желтый........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Вещества, которые улучшают цвет лица, придавая ему блеск, румянец и легкий глянец.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Оберегание кожи от солнца, ветра и холода........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Следы от удара и черные пятна.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Следы язв и оспы........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Мертвая кровь, барш, намш и веснушки.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Татуировка и ее удаление......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Бадшинам и чрезмерная краснота.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Витилиго, псориаз.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Бахак, вадах и барас, белый и черный......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение склеродермии.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение витилиго.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение псориаза.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ПРОКАЗА	........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Сущность проказы и ее причины......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Признаки.......8</a></h5></span></p>
<h3>8</h3>
</div>

<div class="mySlides fade">
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение.......9</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Экзема, кожный лейшманиоз и бутм.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Местные лекарства при влажной  экземы......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">ПМестные лекарства при сухой экземе..........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лишай	......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение лишая	......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Местные лечебные средства.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Молочные прыщи......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Парша и чесотка	........</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Потница	.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение	.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Бородавки — гвоздевидные, вывернутые, роговидные и подобные им Лечение.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Трещины, появляющиеся на коже, на губах, на конечностях и вообще на любом месте тела....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение всяких трещин вообще.....</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение трещин на губах	......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Трещины на ноге......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Лечение......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Трещины на руках.......</a></h5></span></p>
  <p class="left-align"><span><h5 style="text-align: center;"><a class="brown-text text-lighten-0" href="#">Трещины между пальцами.....9</a></h5></span></p>
  <h3>9</h3>
</div>

</div>

<a class="next" onclick="plusSlides(1)">&#10095;</a>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>

 <script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>


